.mce-notification {
    display: none;
}
.comment-content div:first-child {
    background-color: #F3F3F3;
    border-radius: 5px;
}
.comment-content div:last-child {
    text-align: right;
    font-size: 14px;
}
.btn-book {
    font-weight: bold;
    color: #333;
    background-color: #F3E5C0;
    border: #C3B592 1px solid;
}
.btn-book:hover {
    color: #FFF;
    background-color: #928462;
    border: #928462 1px solid;
}
